@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* text styles */
.text1{
    font-family: Merriweather;
    font-size: 32px;
    color: white;
}
.text2{
    font-family: Merriweather;
    font-size: 72px;
    color: white;
}

/* heading styles */
.hero{
    min-height: 600px;
    width: 1320px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 50px ;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: color-dodge;
}

.hero-text{
    display: flex;
    flex-direction: column;
    padding-top: 177px;
    text-align: center;
}

/*offer section styles */
.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.offer-heading1{
    color: #FF0000;
    font-size: 88px;
    font-family: inter;
    padding-bottom: 24px;
}
.offer-text{
    color: #FF0000;
    font-size: 24px;
    font-family: inter;
    font-weight:500;
}
.offer-heading2{
    font-size: 48px;
    font-family: inter;
}

/* welcome-party section */
.welcome-party-bg{
    min-height: 600px;
    width: 1320px;
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: color-dodge;
}
.welcome-party{
    display: flex;
    flex-direction: column;
    text-align: top left;
    color: white;
    padding: 126px 126px;
}
.welcome-party-heading1{
    font-family: merriweather;
    font-size: 64px;
    padding-bottom: 24px;
}
.welcome-party-text{
    font-family: inter;
    font-size: 18px;
}
.welcome-party-heading2{
    font-family: inter;
    font-size: 20;
    padding: 48px 32px;
}


/* party-location */
.party-location-bg{
    min-height: 482px;
    width: 1320px;
    background-image: linear-gradient(to top,rgba(181, 132, 132, 0), rgb(236, 217, 217)  );
    background-position: center;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(218, 182, 182);
}
.party-location{
    text-align: center;
    padding-top: 100px;
    font-family: inter;
    font-size: 32px;
    font-weight: 500;
}
.party-location-text4{
    color: #FF0000;
}
.party-location-btn{
    background-color: #FF0000;
    color: white;
    border: none;
    font-family: inter;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 5px;
    margin-top: 48px;
}

/* Best offer section */
.best-offer{
    display: flex;
    height: 463px;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}
.best-offer-new-heading1{
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.best-offer-new-heading2{
    font-family: merriweather;
    font-size: 48px;
    font-weight: bolder;
}
.best-offer-new-text{
    font-family: inter;
    font-size: 20px;
}
.best-offer-year-heading{
    font-family: inter;
    font-size: 48px;
    color: #FF0000;
}
.best-offer-year-text{
    font-family: inter;
    font-size: 20px;
}
.best-offer-image{
    padding-left: 70px;
    padding-right: 118px;
}

/* holidays sale section  */
.holidays-sale{
    display: flex;
    flex-direction: column;
    height: 463px;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
.holidays-sale-text{
    text-align: center;
}
.holidays-sale-heading1{
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
}
.holidays-sale-heading2{
    font-family: merriweather;
    font-size: 72px;
    font-weight: bolder;
}
.holidays-sale-span{
    color: #FF0000;
}
.holidays-sale-para{
    font-family: inter;
    font-size: 20;
    color: rgba(7, 2, 17, 0.6);
    font-weight: 500;
}
.holidays-sale-img{
    display: flex;
    padding-top: 64px;
    justify-content: space-between;
}
.holidays-sale-img1{
    position: absolute;
    z-index: 1;
    height: 578px;
    width: 675px;
}
.holidays-sale-img2{
    height: 229px;
    width: 1320px;
    background-color: #FF0000;
    position: absolute;
    top: 650px; 
    border-radius: 10px;
}
.holidays-sale-img3{
    padding-top: 141px;
    padding-right: 41px;
}

/* best-gift-section */
.best-gift{
    height: 1163px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 550px;
}
.best-gift-heading1{
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.best-gift-heading2{
    font-family: merriweather;
    font-size: 48px;
    font-weight: 800;
}
.best-gift-para{
    font-family: inter;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.best-gift-images{
    padding-top: 48px;
}

