@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* text styles */
.text1{
    font-family: Merriweather;
    font-size: 32px;
}
.text2{
    font-family: Merriweather;
    font-size: 72px;
}
/* header styles */
header{
    background-image: url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1320px;
    margin: 50px 140px 120px 140px;
    /* background-size: cover; */
    /* background-size: contain; */   
}
.banner{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
.banner-text{
    
}